extends layout

block content
  h1= title

  ul
    //- book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each genre in genre_list
      li
        a(href=genre.url) #{genre.name}
    else
      li There are no genres.